<div id="nosotros" class="about-us-container">
    <div class="card">
      <div class="card-header">Equipo</div>
      <img src="assets/equipo.jpg" alt="Equipo" class="card-img" />
      <div class="card-body">
        <p class="card-text">EMPRESA IMPORTADORA DE REPUESTOS</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Almacen</div>
      <img src="assets/almacen.jpg" alt="Almacen" class="card-img" />
    </div>
    <div class="card">
      <div class="card-header">Tienda</div>
      <img src="assets/tienda.jpg" alt="Tienda" class="card-img" />
    </div>
    <div class="card">
      <div class="card-header">Empresa</div>
      <img src="assets/empresa.jpg" alt="Empresa" class="card-img" />
    </div>
  </div>
  